@use "sass:map";

/*==========*/
// Spacing 
/*==========*/
$_15m: calc( 100% / 96 );
$_30m: calc( $_15m * 2 );
$_45m: calc( $_15m * 3 );
$_1h: calc( $_15m * 4 );
$_2h: calc( $_15m * 8 );

@debug $_2h;
/*==========*/
// Colors 
/*==========*/
$colors: (
    "general": (
        "blue-1": #557B83,
        "blue-2": #39AEA9,
        "green-1": #A2D5AB,
        "green-2": #E5EFC1,
        "gray-1": #8e8e8e,
        "gray-2": #D9D9D9,
        "gray-3": #e9e9e9,
        "red-1": #C86A6A
    ),
    "subjects": (
        "orange-1": #874400,
        "orange-2": #D36B00,
        "orange-3": #FF8C19,
        "blue-1": #006787,
        "blue-2": #00A2D4,
        "gray-1": #505560,
        "gray-2": #606D8A
    )
);

/*===== General =====*/
/* Blue */
$general_blue_1: map.get($colors, "general", "blue-1");
$general_blue_2: map.get($colors, "general", "blue-2");

/* Green */
$general_green_1: map.get($colors, "general", "green-1");
$general_green_2: map.get($colors, "general", "green-2");

/* Gray */
$general_gray_1: map.get($colors, "general", "gray-1");
$general_gray_2: map.get($colors, "general", "gray-2");
$general_gray_3: map.get($colors, "general", "gray-3");

/* Red */
$general_red_1: map.get($colors, "general", "red-1");

/*===== Subjects =====*/

/* Orange */
$subject_orange_1: map.get($colors, "subjects", "orange-1");
$subject_orange_2: map.get($colors, "subjects", "orange-2");
$subject_orange_3: map.get($colors, "subjects", "orange-3");

/* Blue */
$subject_blue_1: map.get($colors, "subjects", "blue-1");
$subject_blue_2: map.get($colors, "subjects", "blue-2");

/* Gray */
$subject_gray_1: map.get($colors, "subjects", "gray-1");
$subject_gray_2: map.get($colors, "subjects", "gray-2");

/*==============*/
// Data attributes 
/*==============*/
// $subject_duration: attr(data-duration);
// $subject_start: attr(data-start);

// @debug $subject_duration;