@use "sass:map";

.schedule {
    width: 90vw;
    max-width: 900px;
    height: 100vh;
    max-height: 690px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;

    & .week {
        height: 50px;
        width: 100%;
        background-color: $general_green_2;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    & .table-container {
        position: relative;
        width: 100%;
        max-width: 758px;
        height: 100%;
        max-height: 576px;
        margin-left: 70px;

        & .container-vertical {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 20px;

            & div[class|="box"] {
                background-color: $general_gray_1;
                position: relative;
            }

            & div[class|="box"] div {
                position: absolute;
                font-size: 12px;
                color: white;
                width: calc(100% - 2px);
            }

            & div[class|="box"] div p {
                margin: 5px 0 0 5px;
            }
        }

        & .container-horizontal {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: repeat(12, 1fr);
            z-index: 5;

            & div:first-child {
                border-top: 1px solid #8e8e8e;
            }

            & div {
                background-color: transparent;
                border-bottom: 1px solid #8e8e8e;
            }
        }
    }
}